body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/387eb18b-ab74-4503-a97f-b5e6143eb21d/d2e2kbv-e209c68b-7146-4e18-a266-371626b3ef0d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM4N2ViMThiLWFiNzQtNDUwMy1hOTdmLWI1ZTYxNDNlYjIxZFwvZDJlMmtidi1lMjA5YzY4Yi03MTQ2LTRlMTgtYTI2Ni0zNzE2MjZiM2VmMGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.NtlyFPXaBOGc17yH4dgDcG68Eh10alBP5gbqPDjWsQE');
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh;  
    margin: 0;  
}

.welcome {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.welcome img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
}

.welcome h1, .welcome p {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.welcome h1 {
    top: 40%;
    font-size: 2.5rem;
    font-weight: bold;
}

.welcome p {
    top: 55%;
    font-size: 1.2rem;
}

.featured {
    text-align: center;
    margin-top: 20px;
}

.featured-food {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
    border: none;
}

.featured-food {
    width: 100%;
    max-width: 750px; 
    height: auto;
    border-radius: 20px;
    border: none;
    object-fit: cover;
}

.featured-table td, .featured-table th {
    padding: 10px;
    border: 1px solid #ddd;
    width: auto; 
    border: none;
}

.featured-table td img {
    width: 100%;
    max-height: 400px; 
    height: auto;
    object-fit: cover;
    border: none;
}

.featured-table td:nth-child(1) {
    width: 70%; 
    border: none;
}

.featured-table td:nth-child(2) {
    width: 30%;
    border: none;
}

.featured hr {
    border: none; 
    height: 0; 
    margin: 0; 
    padding: 0; 
}

.categories-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;  
    max-width: 300px;
    text-align: left;
    font-family: Arial, sans-serif;
}

.categories-table thead th {
    background-color: #f4f4f4;
    padding: 10px;
    font-weight: bold;
}

.categories-table tbody td {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.food-categ-img {
    width: 100%;
    height: 200px; 
    object-fit: cover;  
    display: block; 
    overflow: hidden;}

.food-categ-img-wrapper {
    overflow: hidden;
    height: 200px; 
    width: 100%; 
}

h1 { 
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.img-custom {
    width: 100%;
    height: 200px;
    object-fit: cover;
}